@model ViTrine.Models.ProdutoView

@{
    ViewData["Title"] = "Adicionar Produto";
}

<h1>Adicionar</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LojaId" />
            <div class="form-group">
                <label asp-for="UrlFotoProduto" class="control-label">Imagem</label>
                <input asp-for="UrlFotoProduto" class="form-control" />
                <span asp-validation-for="UrlFotoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeProduto" class="control-label">Nome</label>
                <input asp-for="NomeProduto" class="form-control" />
                <span asp-validation-for="NomeProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaProduto" class="control-label">Categoria</label>
                <input asp-for="CategoriaProduto" class="form-control" />
                <span asp-validation-for="CategoriaProduto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PromocaoProduto" /> Promoção
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PrecoProduto" class="control-label">Preço</label>
                <input asp-for="PrecoProduto" class="form-control" />
                <span asp-validation-for="PrecoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoProduto" class="control-label">Descrição</label>
                <input asp-for="DescricaoProduto" class="form-control" />
                <span asp-validation-for="DescricaoProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.LojaId">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
