@model ViTrine.Models.Mensagem
@{
    Layout = "_LayoutCliente";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('@Url.Content("~/images/bg-01.jpg")');">
    <h2 class="ltext-105 cl0 txt-center">
        Enviar Mensagem
    </h2>
</section>

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form asp-route-id="@Model.ChatId" asp-action="Send">
                    <input type="hidden" asp-for="ChatId" />
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Nos envie uma mensagem
                    </h4>

                    <div class="bor8 m-b-30">
                        <textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="TextoMensagem" placeholder="Como podemos ajudar?"></textarea>
                    </div>

                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Enviar
                    </button>
                </form>
            </div>

            
        </div>
    </div>
</section>	